.container-filmeID{
    display: flex;
    flex-direction: column;
}

.filmes{
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
    width: 600px;
}

.excluir{
    background-color: rgb(238, 26, 26);
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin-left: 15px;
}

.excluir:hover{
    background-color: rgb(219, 51, 51);
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .filmes{
        width: 300px;
    }
    
    .filmes h2{
        font-size: 14px;    
    }

    .filmes a{
        font-size: 10px;
    }

    .excluir{
        width: 60px;
        height: 24px;
    }
}