.container-filmes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 35px;
}

img{
    width: 900px;
}

span{
    width: 900px;
}

.trailer{
    text-decoration: none;
    color: #fff;
    background-color: rgb(61, 56, 56);
    font-size: 18px;
    text-align: center;
    padding: 10px;
    margin-right: 40px;
    border-radius: 10px;
}

.trailer:hover{
    background-color: brown;
    cursor: pointer;
}

.container-buttons{
    width: 100%;
    margin-top: 40px;
}

@media screen and (max-width: 700px){
    img{
        width: 300px;
    }

    span{
        width: 300px;
        font-size: 12px;
    }

    .trailer{
        font-size: 10px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 90%;
    }

}